@import '../rich-checkbox/rich-checkbox.scss';

.rich-checkbox-buttons {

  &__title {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark100;
  }

  &__wrapper {
    margin-top: 12px;
    width: 260px;

    &:nth-child(2) {
      margin-top: 15px;
      width: 230px;
    }
  }
}