mixin radio(options)
  label.radio
    input.radio__button(type="radio" name= options.name)
    span.radio__text= options.text
    input.radio__button(type="radio" name= options.name2)
    span.radio__text= options.text2


mixin radio2(options)
  label.radio
    input.radio__button(type="radio" name= options.name2)
    span.radio__text= options.text2