mixin radio(options)
  label.radio
    input.radio__button(type='radio' name= options.name value= options.value checked )
    span.radio__text= options.text
  label.radio
    input.radio__button(type='radio' name= options.name value= options.value2)
    span.radio__text= options.text2