@import "../buttons/buttons.scss";

.headers {
  display: flex;
  justify-content: space-between;
  height: 70px;

  &__logo {
    margin-left: 110px;
    margin-top: 15px;
  }

  &__wrapper-menu {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
  }

  &__menu {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    font-size: 14px;
    color: $dark50;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    align-self: center;
  }

  &__about-us {
    display: flex;
    font-weight: bold;
    color: $dark75;
  }

  &__services {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  &__services-text {
  }

  &__arrow {
    font-family: Material Icons;
    font-size: 24px;
    margin-left: 1px;
  }

  &__news {
    margin-left: 21px;
  }

  &__vacancy {
    margin-left: 20px;
  }

  &__vacancy,
  &__news {
    display: flex;
  }

  &__agreement {
    align-items: center;
    display: flex;
    margin-left: 20px;
  }

  &__agreement-text {
  }

  &__sign-in {
    align-self: center;
    margin-left: 20px;
  }

  &__register {
    align-self: center;
    margin-left: 19px;
  }
}
