include ../buttons/buttons.pug

mixin headers(options)
  nav.headers
    .headers__logo
      +logo-toxin()
    .headers__wrapper-menu
      ul.headers__menu
        li.headers__about-us
          a.headers__link О нас
        li.headers__services
          span.headers__services-text Услуги 
          span.headers__arrow.material-icons expand_more
        li.headers__vacancy Вакансии
        li.headers__news Новости
        li.headers__agreement
          span.headers__agreement-text Соглашения 
          span.headers__arrow.material-icons expand_more
      .headers__sign-in
        +button-transparent({text: "войти", size: "small"})
      .headers__register
        +button-long({text: "зарегистрироваться", size: 'small', position: "hight", icon: "no"})