include ../buttons/buttons.pug

mixin headers(options)
  nav.headers
    .headers__logo
      +logo-toxin()
    .headers__wrapper-menu
      ul.headers__menu
        li.headers__about-us О нас
        li.headers__item
          span.headers__services Услуги 
          span.headers__arrow.material-icons expand_more
        li.headers__item Вакансии
        li.headers__item Новости
        li.headers__item
          span.headers__agreement Соглашения 
          span.headers__arrow.material-icons expand_more
      .headers__sign-in
        +button-transparent({text: "войти"})
      .headers__register
        +button-long({text: "зарегестрироваться"})