mixin date-dropdown(options)
  .date-dropdown
    .date-dropdown__wrapper-min
      p.date-dropdown__text= options.text1
      .date-dropdown__expand-min.material-icons expand_more
      input.date-dropdown__min-date(type="text" name='date' placeholder='ДД.ММ.ГГГГ')
    .date-dropdown__wrapper-max
      p.date-dropdown__text= options.text2
      .date-dropdown__expand-max.material-icons expand_more
      input.date-dropdown__max-date(type="text" name='date' placeholder='ДД.ММ.ГГГГ')