mixin button-painted(options)
    button.button-painted click me

mixin button-transparent(options)
  button.button-transparent click me

mixin button-text(options)
  button.button-text click me

mixin button-long(options)
  .button-long
    button.button-long__button
      span.button-long__text перейти к оплате 
      span.button-long__icon.material-icons arrow_forward