.expandable-checkbox-list {
  width: 266px;

  &__text {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__title {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark100;
  }

  &__button {
    transform: rotate(-180deg);
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $dark50;
    width: 24px;
    height: 15px;
    margin-right: 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &_expand-rotation {
      transform: rotate(-360deg);
      width: 24px;
      height: 15px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }

  &__bonus {
    width: 100%;
    max-width: 266px;
    margin-top: 8px;

    &_hidden-text {
      display: none;
    }
  }

  &__wrapper {
    margin-top: 8px;

    &:first-child {
      margin-top: 16px;
    }

    &:nth-child(n+3) {
      margin-top: 7px;
    }

    &:nth-child(4) {
      margin-top: 6px;
    }
  }
}