.rich-checkbox {
  &__button {

    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    &:checked+.rich-checkbox__text:after {
      opacity: 1;
    }

    &:not(:checked)+.rich-checkbox__text:after {
      opacity: 0;
    }

    &:checked+.rich-checkbox__text:before {
      border: 1px solid $purple;
    }
  }

  &__text {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $dark75;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid $dark25;
      box-sizing: border-box;
      border-radius: 4px;
    }

    &:after {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      left: 6px;
      top: 6px;
      width: 6px;
      height: 4px;
      border-radius: 1px;
      border-left: 2px solid $purple;
      border-bottom: 2px solid $purple;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  &__info-text {
    width: 100%;
    max-width: 230px;
    top: 4px;
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-family: $dark50;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $dark50;
  }
}