mixin rich-checkbox(options)
  label.rich-checkbox
    input.rich-checkbox__button(type='checkbox' name='rich-checkbox')
    span.rich-checkbox__text= options.text
    p.rich-checkbox__info-text= options.infoText