mixin color-block(options)
  .color-block
    .color-block__square.color-block__square_dark
    .color-block__text-container
      .color-block__color-name Dark Shade 100%
      .color-block__color-cod #1F2041