.color-block {
  width: 269px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  /*align-items: center; заменить на паддинг, дакет */

  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_dark-100 {
      background-color: $dark100;
    }

    &_dark-75 {
      background-color: $dark75;
    }

    &_dark-50 {
      background-color: $dark50;
    }

    &_dark-25 {
      background-color: $dark25;
    }

    &_dark-5 {
      background-color: $dark5;
    }

    &_purple {
      background-color: $purple;
    }

    &_green {
      background-color: $green;
    }
  }

  &__text-container {
    width: 159px;
    height: 57px;
  }

  &__color-name {
    font-family: $quicksand;
    font-weight: bold;
    font-size: 1.357rem;
    margin-top: 9px;
  }

  &__color-code {
    font-family: $quicksand;
    font-weight: normal;
    font-size: 1.357rem;
    margin-top: 5px;
  }
}