.color-block {
  width: 269px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  /*align-items: center; заменить на паддинг, дакет */

  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_dark {
      background-color: $dark100;
    }
  }

  &__text-container {
    width: 159px;
    height: 57px;
  }

  &__color-name {
    font-family: $quicksand;
    font-weight: bold;
    font-size: 1.357rem;
    margin-top: 9px;
  }

  &__color-cod {
    font-family: $quicksand;
    font-weight: normal;
    font-size: 1.357rem;
    margin-top: 5px;
  }
}