mixin subscription-text-field(options)
  form(action='subscription', method='post').subscription-text-field
    input(type='email', name='subscription' placeholder='Email').subscription-text-field__email
    button.subscription-text-field__button.material-icons arrow_forward