@import 'common/normalize.scss';
@import 'common/fonts.scss';
@import 'common/variables.scss';
@import 'common/global.scss';
@import '../components/search-card/search-card.scss';
@import '../components/registration-card/registration-card.scss';
@import '../components/sign-in-card/sign-in-card.scss';
@import '../components/price-card/price-card.scss';
@import '../components/calendar-card/calendar-card.scss';
@import '../components/room-card/room-card.scss';

body {
  background: #E5E5E5;
}

.test {
  margin: 50px auto;
  width: 500px;
}