doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='form, elements')
    meta(name='description' content='Colors and type')
    title Colors and Type
    link(rel='stylesheet' href='colors-and-type.scss')
  body
    h1 Hello world!Alyona