include ../components/text-field/text-field.pug
include ../components/radio/radio.pug
include ../components/checkbox-buttons/checkbox-buttons.pug
include ../components/toggle/toggle.pug
include ../components/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../components/room-info/room-info.pug
include ../components/bullet-list/bullet-list.pug

doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='form, elements')
    meta(name='description' content='Form elements')
    title Form elements
    link(rel='stylesheet' href='form-elements.scss' type='text/css')
  body
    +text-field({type: 'text', name: 'email', text: 'Email'})
    br
    br
    +checkbox-buttons()
    br
    +radio({name:'male', text:'Мужчина', text2:'Женщина', value:'male', value2:'female'})
    br
    br
    +toggle()
    br
    br
    +rich-checkbox-buttons({title:'Rich Checkbox Buttons'})
    br
    +room-info()
    br
    +bullet-list({title:'Bullet list'})