include ../components/text-field/text-field.pug
include ../components/checkbox/checkbox.pug
doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='form, elements')
    meta(name='description' content='Form elements')
    title Form elements
    link(rel='stylesheet' href='form-elements.scss' type='text/css')
  body
    +text-field ({type: 'text', name: 'email', text: 'Email'})
    br
    br
    div.border
      +checkbox ({text:'Можно курить', name:'checkbox'})
    div.border
      +checkbox ({text:'Можно с питомцами', name:'checkbox'})
    div.border
      +checkbox ({text:'Можно пригласить гостей (до 10 человек)', name:'checkbox'})