@import "common/normalize.scss";
@import "common/fonts.scss";
@import "common/variables.scss";
@import "common/global.scss";

@import "../components/header/header.scss";

body {
  background: #E5E5E5;
}

.headers-footers {
  max-width: 1440px;
  min-width: 320px;

  &__logo {
    margin-bottom: 55px;
  }

  &__head-no-sign {}

  &__head-yes-sign {
    margin-top: 40px;
  }

  &__wrapper {}
}