@import "../buttons/buttons.scss";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  @media (min-width: 560px) {
    justify-content: center;
  }

  &__logo {
    margin-top: 9px;

    @media (min-width: 560px) {
      flex: 1;
    }
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    order: 3;
    width: 100%;
    display: none;
  }

  &__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $dark50;
    text-align: center;
    padding-top: 15px;

    &:first-child a {
      font-weight: bold;
      color: $dark75
    }
  }

  &__link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $dark50;
  }

  &__arrow {
    vertical-align: middle;
  }

  &__button-login {
    order: 2;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    display: none;

    @media (min-width: 560px) {
      order: 1;
      display: block;
      width: auto;
      margin-top: 0;
      margin-right: 20px;
    }
  }

  &__button-register {
    order: 2;
    margin: 15px auto;
    display: none;

    @media (min-width: 560px) {
      order: 1;
      display: block;
      width: auto;
    }
  }

  &__button-toggle {
    order: 1;

    @media (min-width: 560px) {
      flex: 1;
      text-align: right;
      order: 2;
    }
  }

  &__active {
    display: block;
  }
}