mixin bullet-list(options)
  .bullet-list
    ul.bullet-list__catalog
      li.bullet-list__element Нельзя с питомцами
      li.bullet-list__element Без вечеринок и мероприятий
      li.bullet-list__element Время прибытия — после 13:00, а выезд до 12:00