include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../buttons/buttons.pug

mixin search-cards(options)
  .search-cards
    p.search-cards__title Найдём номера под ваши пожелания
    .search-cards__date-dropdown
      +date-dropdown({text1: 'прибытие', text2: 'выезд'})
    .search-cards__dropdown
      p.search-cards__dropdown-title гости
      .search-cards__dropdown-info
        +dropdown({size: 'no'})
    .search-cards__button
      +button-long ({text: "подобрать номер"})