@import "../rate-button/rate-button.scss";

.room-card {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  &__image {
    //background-image: url(../images/cards/888.png);
    width: 270px;
    height: 152px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__right-arrow {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    transform: rotate(-90deg);
    position: absolute;
    top: 63px;
    right: 10px;
  }

  &__left-arrow {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    transform: rotate(90deg);
    position: absolute;
    top: 63px;
    left: 10px;
  }

  &__page {
    display: flex;
    position: absolute;
    right: 11px;
    top: 129px;
  }

  &__circle1 {
    width: 7.5px;
    height: 7.49px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    border-radius: 100%;
    margin-right: 3.75px;
  }

  &__circle2 {
    width: 7.5px;
    height: 7.49px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    border-radius: 100%;
    margin-right: 3.75px;
  }

  &__content {
    padding: 20px 17px 19px 20px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__wripper-title {
  }

  &__title-number {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: $dark100;
  }

  &__number {
    font-family: $quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: $dark100;
    padding-left: 4px;
  }

  &__type {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $purple;
    padding-left: 5px;
  }

  &__wripper-price {
    margin-top: 3px;
  }

  &__price-day {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
    padding-right: 2px;
    margin-right: 2px;
  }

  &__type-day {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__line {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    box-sizing: border-box;
    width: 230px;
    margin-top: 8px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__rate {
  }

  &__review {
    margin-right: 2px;
  }

  &__number-review {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    color: $dark50;
    margin-right: 4px;
  }

  &__text-review {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: right;
    color: $dark50;
  }
}
