@import '../checkbox/checkbox.scss';

.checkbox-buttons {
  &__title {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $dark100;
    text-transform: uppercase;
  }

  &__wrapper {
    margin-top: 8px;

    &:nth-child(2) {
      margin-top: 15px;
    }

    &:last-child {
      margin-top: 10px;
    }
  }
}