include ../checkbox/checkbox.pug

mixin checkbox-buttons(options)
  .checkbox-buttons
    .checkbox-buttons__title= options.title
    .checkbox-buttons__wrapper
      +checkbox ({text:'Можно курить', name:'checkbox'})
    .checkbox-buttons__wrapper
      +checkbox ({text:'Можно с питомцами', name:'checkbox'})
    .checkbox-buttons__wrapper
      +checkbox ({text:'Можно пригласить гостей (до 10 человек)', name:'checkbox'})