.text-field {
  max-width: 320px;
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: $montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark25;
  padding-left: 15px;
  padding-right: 15px;

  &:hover,
  &:focus {
    border: 1px solid $dark50;
    color: $dark75;
  }

  &::placeholder {
    color: $dark25
  }
}